{{{body}}}
  <body>
    <div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
<div class="mb-10">
  <form action="/admin/login" method="post">
  <div class="form-group">
  <label for="usuario" class="form-label"></label>
  <input type="usuario" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
</div>
<div class="mb-3">
  <div class="form-group">
  <label for="password" class="form-label"></label>
  <input type="password" class="form-control" id="password" placeholder="Contraseña" rows="1" name="password"></input>
    <div class="mover">
                        <button type="submit" class="btn btn-primary"> Acceder!</button>
                   
                    </div>
                    </div>

</form>
            {{#if error}}
            <p>Usuario o Contraseña Incorrectos! </p>
            {{/if}}
</div>
 </div>
