  <div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <p> Bienvenido {{usuario}}</p> 
<p> Actualmente nuestros concursos se encuentran cerrados, para mas informacion mantenerse activo. </p>
<p> La galeria de los participantes esta en remodelamiento </p>
 <div class="container text-center"> 
<a class="btn btn-primary" href="/admin/login/logout" role="button">Cerrar Sesión</a>
 </div>
