<link rel="stylesheet" href="/stylesheets/libros.css">

<div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
  <p> Autoayuda - RunaPacha </p>
</div>

<div class="botonaventurate">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    ¡Que me encuentre un Libro!
  </button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> ¡Felicidades, conseguiste un 20% de descuento! </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2> Este descuento es valido por una semana y es por el libro "Asi hablo Zaratustra" de Friedrich Nietzche. </h2>
          <h2> Puedes ir directo a hablar con uno de nuestros asesores mediante nuestro formulario en <a href="/SolicitaAsesoria"> Solicita Asesoria </a> </h2>
          <h2> ¡Tambien podes contactarnos por nuestras redes sociales!</h2>
          <h2> Este libro te estaba esperando 😊 </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hasta la proxima semana </button>
          <button type="button" class="btn btn-primary"> Bon voyage! </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/Novedades">Novedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Novela"> Novela </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Ensayo"> Ensayo </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Naturaleza"> Naturaleza </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Psicologia"> Psicologia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Infantiles"> Infantiles </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Filosofia"> Filosofia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Autoayuda">Autoayuda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Poesia">Poesia</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/SolicitaAsesoria">Solicita Asesoria</a>
  </li>
</ul>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/autoayuda1poder-de-las-palabras.png" class="w-100" alt="poder de las palabras">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> El poder de las palabras - Mariano Sigman </h5>
    <h4>$4.450</h4>
    <h3>Titulo del libro</h3> <h6> El poder de las palabras cómo cambiar tu cerebro (y tu vida) conversando </h6>
    <h3>Autor</h3> <h6> Mariano Sigman </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Autoayuda </h6>
    <h3>Editorial</h3> <h6> DEBATE </h6>
    <h3>Año de publicacion</h3> <h6> 2022 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789877950465 </h6>
    <h3>Descripcion</h3> <h6> Nuestra mente es mucho más maleable de lo que creemos y, a pesar de que conservamos toda la vida la misma capacidad de aprender que tenemos de chicos, con el tiempo vamos perdiendo la necesidad y la motivación para hacerlo. Así, empezamos a convencernos de lo que no podemos: o somos malos para la matemática, o no nacimos para la música, o no podemos manejar nuestra ira, o nos es imposible superar el miedo. Este libro sostiene y demuestra que, independientemente del momento de nuestra existencia que atravesemos, podemos demoler esas creencias y cambiar ideas y sentimientos, aun aquellos más profundamente arraigados, aprendiendo a conversar. En efecto, la conversación -con otros y con nosotros- es la herramienta más extraordinaria para transformar nuestra vida.</h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/autoayuda2sabiduriapractica.png" class="w-100" alt="sabidura practica">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Sabiduria Practica - Sri Sri Ravi Shankar </h5>
    <h4>$4.699</h4>
    <h3>Titulo del libro</h3> <h6> Sabiduria Practica </h6>
    <h3>Autor</h3> <h6> Sri Sri Ravi Shankar </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Autoayuda </h6>
    <h3>Editorial</h3> <h6> Vergara </h6>
    <h3>Año de publicacion</h3> <h6> 2021 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789877391442 </h6>
    <h3>Descripcion</h3> <h6> ¿Qué es el Conocimiento? ¿Para qué vinimos a este mundo? ¿De qué forma debemos relacionarnos con nuestro ego? ¿Cuál es el poder de la meditación? ¿Cómo liberarnos de nuestros malos hábitos? ¿Qué hacemos y cómo lidiamos con la duda y la culpa? ¿Cómo potenciar nuestra mente? ¿Es posible llegar a la Verdad? ¿Cuál es el valor de silencio? ¿Qué pasa con los apegos? ¿Y el aburrimiento? ¿Cómo podemos trabajar con nuestra respiración para vivir mejor? Estas y otras preguntas que desafían y cuestionan a todos encuentran su respuesta en este libro.</h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/autoayuda3vozdetualmtapa013.png" class="w-100" alt="voz de tu alma">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> La voz de tu alma - Lain Calvo </h5>
    <h4>$4.690</h4>
    <h3>Titulo del libro</h3> <h6> La voz de tu alma  </h6>
    <h3>Autor</h3> <h6> Lain Calvo </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Autoayuda </h6>
    <h3>Editorial</h3> <h6> Oceano </h6>
    <h3>Año de publicacion</h3> <h6> 2018 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> 18 años </h6>
    <h3>Codigo universal de producto</h3> <h6> 09788461716098 </h6>
    <h3>Descripcion</h3> <h6> Un libro es una fuente de aprendizaje e imaginación. Permite conocer, descubrir y explorar el mundo que nos rodea. Aumenta nuestra curiosidad y nos mantiene entretenidos. Los libros nos permiten conectar con historias, personajes y sentimientos ayudando a nuestra comprensión, vocabulario y escritura.</h6>
      <h6> Una herramienta para el crecimiento personal</h6>
 <h6> Los libros de autoayuda ocupan hoy el top de ventas a nivel mundial. Son guías de referencia que brindan herramientas y estrategias para ayudar al lector en la búsqueda del bienestar emocional. </h6>
  </div>
</div>
</div>



  <div class="row align-items-end">
    <div class="collogo">
        
    </div>
  </div>