 <link rel="stylesheet" href="/stylesheets/pagina concuursos.css">

  <div class="container text-center">
        <div class="col"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
        </div>
        <div class="col-1"></div>
        <p> CONCURSOS RUNAPACHA </p>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/concursos/prueba de tama침o de concurso 1.png" class="d-block w-100" alt="ni침os dibujando">
                <div class="carousel-caption d-none d-md-block">
                    <h4> Desde sus primeros trazos hasta los 6 a침os </h4>
                    <p> Concurso semestral: "Cronopios" </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/concursos/prueba de tama침o de concurso 2.png" class="d-block w-100" alt="ni침os dibujando">
                <div class="carousel-caption d-none d-md-block">
                    <h4> Desde los 7 hasta los 18 </h4>
                    <p> Concurso semestral: "Bestiario" </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/concursos/prueba de tama침o de concurso 3.png" class="d-block w-100"
                    alt="cuaderno persona escribiendo">
                <div class="carousel-caption d-none d-md-block">
                    <h4> Sobre el arte de escribir, desde los 15 en adelante </h4>
                    <p> Concurso literario: "La otra orilla"</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="rowbarra">
        <div class="col-3">
            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Cronopios</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Bestiario</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">La otra orilla</a>

            </div>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                class="scrollspy-example" tabindex="0">




            </div>
        </div>
    </div>


    <div class="container text-center">
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <h3 id="list-item-1"> Cronopios </h3>
                    <h4> Requisitos</h4>
                    <h6> Enviar un dibujo hecho por un ni침e entre 0 y 6 a침os. </h6>
                    <h6> La primer inscripcion comienza en Septiembre, se anuncia el/la ganador/a en diciembre.
                    </h6>
                    <h6> La segunda inscripcion comienza en Mayo, se anuncia el/la ganador/a en Agosto. </h6>
                    <h6> En las fechas de inscripcion el adulto/a a cargo llenar un formulario adjuntando un archivo
                        PNG o JPG! </h6>
                    <h6> Para el formulario, se pondra a disposicion un link en esta pagina! </h6>
    
                    <h4> Benificios</h4>
                    <h6> El premio semestral consiste en pasar a ser el dise침o del separador de la categoria
                        "infantil" de la temporada. Junto a un mensaje opcional del ganador!</h6>
                    <h6> 쯈ue quiere decir esto? Que cuando alguna familia compre un libro infantil, el dibujo
                        ganador sera impreso en se침aladores de 5,1 x 20,3 cm y se les enviara una copia con el
                        dise침o!</h6>
                    <h6> Los participantes quedaran en una galeria abierta a los usuarios de la web RunaPacha. </h6>
                    <h6> La tematica del dibujo es SIEMPRE libre. </h6>
                    <h6> Los materiales a usar tambien son de libre eleccion. </h6>
                </div>
                <h4> Sobre el nombre "Cronocopios" </h4>
                <h6> Los cronopios son personajes de una serie de cuentos del libro Historias de Cronopios y de
                    Famas (1963) del escritor argentino Julio Cort치zar. </h6>
                <h6>
                    춺Un cronopio es un dibujo fuera del margen, un poema sin rimas췉, en palabras de autor.</h6>
                <h6> 쯈ue hacen los cronopios? </h6>
                <h4> Los Cronopios</h4>
                <h6> Los Cronopios cuidan de sus recuerdos, m치s nunca los retienen o atan, ellos permiten que
                    sean libres, hasta de abandonarlos, pero siempre est치n abiertos a su regreso, y los
                    cuidaran. </h6>
                <h6> Mas de 170 dibujos recibimos desde que abrimos esta convocatoria. </h6>
                <h6> Los dise침os ganadores, hechos se침aladores, aun se encuentran en distribucion.</h6>
                <h4> Algunos Cronopios </h4>
                    <div class="card1" style="width: 18rem;">
                        <img src="/images/concursos/Dibujo luna.1png.png" class="card-img-top" alt="dibujo">
                        <div class="card-body">
                            <p class="card-text"> Luna (3), participante del Primer Concurso Cronopios en el Invierno
                                2020. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cardluna" style="width: 18rem;">
            <img src="/images/concursos/Dibujo luna.2png.png" class="card-img-top" alt="dibujo luna">
            <div class="card-body">
                <p class="card-text"> Olivia (4), Ganadora del Segundo Concurso Cronopios en el Verano 2020. </p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="cardpablo" style="width: 18rem;">
        <img src="/images/concursos/dibujo pablo.png" class="card-img-top" alt="dibujo">
        <div class="card-body">
            <p class="card-text"> Pablo (3), participante del Tercer Concurso Cronopios en el Invierno 2021.</p>
        </div>
    </div>



    <div class="container text-center">
        <div class="container text-center">
            <div class="row align-items-start-24">
                <div class="col">
                    <h3 id="list-item-2"> Bestiario </h3>
                    <h4>
                        Requisitos </h4>
                    <h6> Enviar un dibujo hecho por una persona entre 7 y 18 a침os. </h6>
                    <h6> La primer inscripcion comienza en Septiembre, se anuncia el/la ganador/a en diciembre.</h6>
                    <h6> La segunda inscripcion comienza en Mayo, se anuncia el/la ganador/a en Agosto. </h6>
                    <h6> En las fechas de inscripcion el adulto/a a cargo llenar un formulario adjuntando un archivo
                        PNG o JPG! </h6>
                    <h6> Para el formulario, se pondra a disposicion un link en esta pagina! </h6>
                </div>
               <h4> Benificios </h4>
                    <h6> El premio semestral consiste en pasar a ser el dise침o del separador de la categoria
                        "Novela Juvenil" de la temporada.</h6>
                    <h6> 쯈ue quiere decir esto? Que cuando alguien compre un libro juvenil, el dibujo
                        ganador sera impreso en se침aladores de 5,1 x 20,3 cm y se les enviara una copia con el
                        dise침o!</h6>
                    <h6> Los participantes quedaran en una galeria abierta a los usuarios de la web RunaPacha. </h6>
                    <h6> La tematica del dibujo es SIEMPRE libre. </h6>
                    <h6> Los materiales a usar tambien son de libre eleccion. </h6>
                <h4> Sobre el nombre "Bestiario" </h4>
                    <h6> Bestiario es el primer libro de cuentos del escritor argentino Julio Cort치zar, publicado en
                        1951. </h6>
             <h4> Los participantes </h4>
                    <h6> Mas de 400 dibujos recibimos desde que abrimos este concurso. </h6>
                    <h6> Siendo una de nuestras categorias mas convocantes. </h6>
                    <h6> Los dise침os ganadores, hechos se침aladores, aun se encuentran en distribucion.</h6>
                   <h4> Algunos Bestiarios </h4> 
                    
                    <div class="card1" style="width: 18rem;">
                        <img src="/images/concursos/art trade1.png" class="card-img-top" alt="dibujo">
                        <div class="card-body">
                            <p class="card-text"> Jose (12) Primer dibujo recibido desde que abrimos Bestiario. Le
                                tenemos especial cari침o. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cardsirena" style="width: 18rem;">
            <img src="/images/concursos/comi hay dragones final sirena.png" class="card-img-top" alt="dibujo sirena">
            <div class="card-body">
                <p class="card-text"> Analia (18) "Lagrima de Sirena". Ganadora Bestiario Verano 2020. </p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="cardpibardo" style="width: 18rem;">
        <img src="/images/concursos/comi aqui hay dragones final.png" class="card-img-top" alt="dibujo vampiro">
        <div class="card-body">
            <p class="card-text"> Joel (17) "Vampiro, busqueda de destino". Ganador Invierno 2022. </p>
        </div>
    </div>
    </div>
    </div>
    </div>

    <div class="container text-center">
        <div class="container text-center">
            <div class="row align-items-start-27">
                <div class="col">
                    <h3 id="list-item-3">La otra orilla</h3>
                    <h4>
                        Requisitos </h4>
                    <h6> Enviar un proceso creativo literario hecho por una persona mayor a 15 a침os. </h6>
                    <h6> Las inscripciones varian durante el a침o vigente, pero en el ultimo a침o realizamos 2 llamados.</h6>
                    <h6> En las fechas de inscripcion en caso de ser menor, un adulto/a a cargo denera  llenar un consentimiento. </h6>
                    <h6> En caso contrario, simplemente se seguira un procedimiento intuitivo por un link que se pondra disponible por esta pagina. </h6>
                    <h6> Para el formulario, se pondra a disposicion un link en esta pagina! </h6>
                    <h6> Para cada concurso de La otra orilla hemos puesto ciertas tematicas. Como seria una cantidad de hojas, tipo de genero literario (novela, poesia) y tambien avisamos con anticipacion quien seran los Jueces. </h6>
               <h4> Benificios </h4>
                    <h6> El premio consiste en la edicion "Artesanal" de tu creacion literaria, distruibuida por nosotros.</h6>
                    <h6> Sin nigun tipo de gasto para vos.</h6>
                    <h6> Obviamente, tendrias a tu disposicion 15 copias para que la distribuyas entre aquellos que mas quieras! 游눙 </h6>
                    <h6> Pero 쯈ue quiere decir edicion "Artesanal"? Bueno, contamos con contactos de imprentas a menor escalas y un grupo llamado @patata.encuadernaciones </h6>
                    <h6> Patata no solo nos permite tener en nuestro catalago libros muy dificiles de conseguir en Argentina por su encuadernado 100% artesanal y eco-responsable, si no que hoy tambien nos permite esto: darles un mimo.</h6>
                    <h6> Los participantes quedaran en un foro abierto, en caso de que lo conscientan, a los usuarios de la web RunaPacha. </h6>
    
                <h4> Sobre el nombre "La Otra Orilla" </h4>
                    <h6> La otra orilla es el noveno libro de cuentos, si bien el primero en ser concebido, del escritor argentino Julio Cort치zar. Fue escrito entre 1937 y 1945, y publicado de manera p칩stuma en 1994. </h6>
             <h4> Los participantes </h4>
                    <h6> Mas de 100 manuescritos hemos tenido el ORGULLO de leer desde que abrimos este concurso, nos sentimos muy honrrados! </h6>
                    <h6> 춰Esperamos cada dia crecer mas para verlos tomar un vuelo sin igual! </h6>
                   <h4> Algunos vistazos a micro relatos en "La otra Orilla" </h4> 
                    <div class="card1" style="width: 18rem;">
                        <img src="/images/concursos/letras sin papel - brenda.png" class="card-img-top" alt="escritura">
                        <div class="card-body">
                            <p class="card-text"> Brenda (25). Poeta. @letrasinpapel </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cardalita" style="width: 18rem;">
            <img src="/images/concursos/ali quiero un tiempo.png" class="card-img-top" alt="Alita escritura">
            <div class="card-body">
                <p class="card-text"> Alisson (26). Escritora. @astra_artsali </p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="cardiara" style="width: 18rem;">
        <img src="/images/concursos/iara.png" class="card-img-top" alt="iara escritora">
        <div class="card-body">
            <p class="card-text"> Iara (26). Escritora. @hicsvntdragones </p>
        </div>
    </div>
    </div>
    </div>
    </div>
