<link rel="stylesheet" href="/stylesheets/libros.css">

<div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
  <p> Ensayo - RunaPacha </p>
</div>

<div class="botonaventurate">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    춰Que me encuentre un Libro!
  </button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> 춰Felicidades, conseguiste un 20% de descuento! </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2> Este descuento es valido por una semana y es por el libro "Asi hablo Zaratustra" de Friedrich Nietzche. </h2>
          <h2> Puedes ir directo a hablar con uno de nuestros asesores mediante nuestro formulario en <a href="/SolicitaAsesoria"> Solicita Asesoria </a> </h2>
          <h2> 춰Tambien podes contactarnos por nuestras redes sociales!</h2>
          <h2> Este libro te estaba esperando 游땕 </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hasta la proxima semana </button>
          <button type="button" class="btn btn-primary"> Bon voyage! </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/Novedades">Novedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Novela"> Novela </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Ensayo"> Ensayo </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Naturaleza"> Naturaleza </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Psicologia"> Psicologia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Infantiles"> Infantiles </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Filosofia"> Filosofia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Autoayuda">Autoayuda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Poesia">Poesia</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/SolicitaAsesoria">Solicita Asesoria</a>
  </li>
</ul>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/ensayonacion y sus otros.png" class="w-100" alt="rita segato nacion">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> La Naci칩n y sus otros - Rita Segato </h5>
    <h4>$3.990</h4>
    <h3>Titulo del libro</h3> <h6> La Naci칩n y sus otros. Raza, etnicidad y diversidad religiosa en tiempos de politicas de la identidad. </h6>
    <h3>Autor</h3> <h6> Rita Segato </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> <h6> Ensayo - Sociologia </h6>
    <h3>Editorial</h3> <h6> Prometeo Libros </h6>
    <h3>A침o de publicacion</h3> <h6> 2007 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789875741553 </h6>
    <h3>Descripcion</h3> <h6> "La lucha de los movimientos sociales inspirados en el proyecto de una "pol칤tica de la identidad" no alcanzar치 la radicalidad del pluralismo que pretende afirmar a menos que los grupos insurgentes partan de una conciencia clara de la profundidad de su "diferencia". Esto implica una cr칤tica a la captura de matrices y formas de ser "otro" por identidades globales pre-formateadas, por el derecho a la existencia de otros modos de ser y entender la justicia, la econom칤a y la relaci칩n con la naturaleza.</h6>
    <h6> Este libro tiene dos ejes: uno relativo a la cr칤tica del vac칤o de los r칩tulos de identidad, y el otro inspirado en el proceso boliviano como br칰jula que marca la direcci칩n de una descomposici칩n de la historia mestiza en historias, en plural, de comunidades constitutivas, cada una resurgiendo a trav칠s de un trabajo pol칤tico de re-urdidura de su trama hist칩rica particular."</h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/ensayo2pedagogia del oprimido.png" class="w-100" alt="pedagogia del oprimido">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Pedagog칤a Del Oprimido - Paulo Freire </h5>
    <h4>$4.690</h4>
    <h3>Titulo del libro</h3> <h6> Pedagog칤a Del Oprimido, por qu칠 docentes y alumnos necesitan reinventarse en cada momento de la historia</h6>
    <h3>Autor</h3> <h6> Paulo Freire </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> <h6> Ensayo </h6>
    <h3>Editorial</h3> <h6> Siglo XXI </h6>
    <h3>A침o de publicacion</h3> <h6> 2015 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789876295086 </h6>
    <h3>Descripcion</h3> <h6> "Cuando aprendemos a escribir, no s칩lo copiamos letras o s칤labas, sino que expresamos ideas y miradas, experiencias cotidianas y modos peculiares de decir. Alfabetizarse no significa repetir palabras, sino poder decir las propias. La teor칤a de Freire coloca a los sujetos en condiciones de replantearse cr칤ticamente las palabras de su universo para descubrirse y conquistarse y, as칤, asumir l칰cidamente su condici칩n humana. Este aprendizaje transformador es la v칤a que recorre Pedagog칤a del oprimido. Mientras que la educaci칩n que Freire cuestiona anula el poder creativo de las ni침as y los ni침os y satisface de esa forma los intereses de una sociedad regida por la pr치ctica de la dominaci칩n, su pedagog칤a liberadora propone alumnos y maestros que inicien juntos, como oprimidos, la tarea hist칩rica de liberarse a s칤 mismos apropi치ndose del mundo que los rodea. Sin lugar a dudas, la obra m치s representativa de Paulo Freire y la de mayor influencia en el pensamiento pedag칩gico y social del siglo XX, el m칠todo de alfabetizaci칩n que inaugura Pedagog칤a del oprimido sigue siendo indispensable para reflexionar sobre la pr치ctica educativa tambi칠n en el siglo XXI."</h6>
  </div>
</div>
</div>

<div class="magen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/ensayovigilar y castigar.png" class="w-100" alt="vigilar y castigar">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Vigilar Y Castigar - Foucault </h5>
    <h4>$6.490</h4>
    <h3>Titulo del libro</h3> <h6> Vigilar Y Castigar: Nacimiento De La Prisi칩n  </h6>
    <h3>Autor</h3> <h6> Michel Foucault </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> Ensayo <h6> </h6>
    <h3>Editorial</h3> <h6> Siglo XXI </h6>
    <h3>A침o de publicacion</h3> <h6> 2008 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 09788461716098 </h6>
    <h3>Descripcion</h3> <h6> Un libro es una fuente de aprendizaje e imaginaci칩n. Permite conocer, descubrir y explorar el mundo que nos rodea. Aumenta nuestra curiosidad y nos mantiene entretenidos. Los libros nos permiten conectar con historias, personajes y sentimientos ayudando a nuestra comprensi칩n, vocabulario y escritura. </h6>
  </div>
</div>
</div>



  <div class="row align-items-end">
    <div class="collogo">
        
    </div>
  </div>