<link rel="stylesheet" href="/stylesheets/libros.css">

<div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
  <p> Filosofia - RunaPacha </p>
</div>

<div class="botonaventurate">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    ¡Que me encuentre un Libro!
  </button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> ¡Felicidades, conseguiste un 20% de descuento! </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2> Este descuento es valido por una semana y es por el libro "Asi hablo Zaratustra" de Friedrich Nietzche. </h2>
          <h2> Puedes ir directo a hablar con uno de nuestros asesores mediante nuestro formulario en <a href="/SolicitaAsesoria"> Solicita Asesoria </a> </h2>
          <h2> ¡Tambien podes contactarnos por nuestras redes sociales!</h2>
          <h2> Este libro te estaba esperando 😊 </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hasta la proxima semana </button>
          <button type="button" class="btn btn-primary"> Bon voyage! </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/Novedades">Novedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Novela"> Novela </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Ensayo"> Ensayo </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Naturaleza"> Naturaleza </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Psicologia"> Psicologia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Infantiles"> Infantiles </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Filosofia"> Filosofia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Autoayuda">Autoayuda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Poesia">Poesia</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/SolicitaAsesoria">Solicita Asesoria</a>
  </li>
</ul>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/etica a nicomaco.png" class="w-100" alt="nicomaco">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Ética A Nicómaco - Aristóteles  </h5>
    <h4>$1.130</h4>
    <h3>Titulo del libro</h3> <h6> Ética A Nicómaco </h6>
    <h3>Autor</h3> <h6> Aristóteles</h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Filosofia </h6>
    <h3>Editorial</h3> <h6> Gradifco </h6>
    <h3>Año de publicacion</h3> <h6> 2007 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6>  9789871093663 </h6>
    <h3>Descripcion</h3> <h6>Esta obra es uno de los tratados más importantes que se conservan de la filosofía occidental. Consta de 10 libros, en los cuales el filósofo reflexiona, entre otras cosas, sobre la felicidad y cómo es posible llegar a ella. Pero, según Aristóteles, ¿qué hace feliz al hombre? ¿Cómo puede el individuo alcanzar una vida plena?</h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/filosofia.png" class="w-100" alt="ens libre albedrio">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Ensayo Sobre El Libre Albedrío - Arthur Schopenhauer Gradifco </h5>
    <h4>$1.110</h4>
    <h3>Titulo del libro</h3> <h6> Ensayo Sobre El Libre Albedrío </h6>
    <h3>Autor</h3> <h6> Arthur Schopenhauer Gradifco </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Filosofia </h6>
    <h3>Editorial</h3> <h6> Gradifco </h6>
    <h3>Año de publicacion</h3> <h6> 2005 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789871093588 </h6>
    <h3>Descripcion</h3> <h6> Esta breve obra conocida como “Ensayo sobre el libre albedrío” y también Sobre la libertad de la voluntad humana, le valió a Schopenhauer el primer premio del concurso que, a instancias de este tema fue convocado en 1837 por la Sociedad Real de Ciencias de Noruega. La obra exige una lectura atenta, puesto que no encontraremos aquí, sino en algunos pasajes, la ironía aguda de Schopenhauer; antes bien, la densidad de los temas abordados muestra a un filósofo de oficio, circunspecto y directamente aplicado al núcleo de lo que se trata. Si bien el autor suele incurrir en algunas oscuridades, éstas pronto se disipan, ya que responden a la necesidad de despejar un terreno abonado por prejuicios y opiniones comunes, las cuales, a pesar de la ingenuidad de su expresión, han obstaculizado la comprensión de tan complejo asunto.</h6>
  </div>
</div>
</div>

<div class="magen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/genealogia de lo moral.png" class="w-100" alt="genealogia de la moral">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> La Genealogía De La Moral - Friedrich Nietzsche  </h5>
    <h4>$1.050</h4>
    <h3>Titulo del libro</h3> <h6> La Genealogía De La Moral  </h6>
    <h3>Autor</h3> <h6> Friedrich Nietzsche </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> Filosofia <h6> </h6>
    <h3>Editorial</h3> <h6> Gradifco </h6>
    <h3>Año de publicacion</h3> <h6> 2017 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789871093564 </h6>
    <h3>Descripcion</h3> <h6> “La genealogía de la moral” muestra que los sentimientos morales y religiosos, considerados por los filósofos y los teólogos como valores en sí mismos, pueden ser abordados y leídos desde una perspectiva histórica que muestra su carácter temporal, sus accidentes, sus condiciones de surgimiento y funcionamiento. Gracias a eso, “La genealogía de la moral” se convirtió en la crítica más lúcida de los valores morales, porque venía a mostrar un origen no divino, quitando el velo bajo el cual se disimulaba su sordidez y con eso, los propósitos de dominio a los cuales servía. Así, Nietzsche mostraba que la moral, apreciada como valor trascendente y esencial, no era sino una creación humana, demasiado humana.</h6>
  </div>
</div>
</div>



  <div class="row align-items-end">
    <div class="collogo">
        
    </div>
  </div>