<link rel="stylesheet" href="/stylesheets/runapachafinal.css">
<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="container text-center">
            <div class="row row-cols-2">
                <div class="col">
                    <h2> Ahora mas que nunca, somos una familia 😊 </h2>
                </div>
                <div class="col">
                </div>
                <div class="col-5.5">
                    <p> Empezamos como una simple empresa familiar que se dedicaba a la distribucion de libros en
                        papel, en
                        otras palabras una libreria
                        virtual, pero somos mucho mas que eso, desde el corazon de Banfield hasta todo el pais de
                        Argentina
                        hacemos envios de
                        libros y nos gusta creer que fomentamos sueños.</p>
                </div>
                <div class="col">
                    <img src="/images/Logos/logo redondo prueba tamaño.png" alt="logo runa pacha">
                </div>
            </div>
        </div>
    </div>
</div>

</div>