<link rel="stylesheet" href="/stylesheets/libros.css">

<div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
  <p> Infantiles - RunaPacha </p>
</div>

<div class="botonaventurate">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    ¡Que me encuentre un Libro!
  </button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> ¡Felicidades, conseguiste un 20% de descuento! </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2> Este descuento es valido por una semana y es por el libro "Asi hablo Zaratustra" de Friedrich Nietzche. </h2>
          <h2> Puedes ir directo a hablar con uno de nuestros asesores mediante nuestro formulario en <a href="/SolicitaAsesoria"> Solicita Asesoria </a> </h2>
          <h2> ¡Tambien podes contactarnos por nuestras redes sociales!</h2>
          <h2> Este libro te estaba esperando 😊 </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hasta la proxima semana </button>
          <button type="button" class="btn btn-primary"> Bon voyage! </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/Novedades">Novedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Novela"> Novela </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Ensayo"> Ensayo </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Naturaleza"> Naturaleza </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Psicologia"> Psicologia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Infantiles"> Infantiles </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Filosofia"> Filosofia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Autoayuda">Autoayuda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Poesia">Poesia</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/SolicitaAsesoria">Solicita Asesoria</a>
  </li>
</ul>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/castillo medieval 3d.png" class="w-100" alt="castillo">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> El Castillo Medieval Caja + Libro + Maqueta 3d - Manolito Books </h5>
    <h4>$9.300</h4>
    <h3>Titulo del libro</h3> <h6> El Castillo Medieval Caja + Libro + Maqueta 3d </h6>
    <h3>Autor</h3> <h6> Manolito Books </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Infantil </h6>
    <h3>Editorial</h3> <h6> Manolito Books </h6>
    <h3>Año de publicacion</h3> <h6> 2021 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> 6 años </h6>
    <h3>Codigo universal de producto</h3> <h6> 9788418127519 </h6>
    <h3>Descripcion</h3> 
      <h6> CAJA CONTENEDORA CARTON 32 CM X 23 CM </h6> 
     <h6> LIBRO CON 32 PAGINAS TAPA BLANDA 21 CM X 15 CM </h6>
     <h6>  CASTILLO MEDIEVAL 3D - LIBRO + MAQUETA 3D DE 89 PIEZAS </h6>
     <h6> El castillo es el símbolo de toda una época: la Edad Media. Descubre cómo se construyeron las torres y los muros circundantes, cuáles fueron las fases de un asedio y qué comía la gente durante un banquete. ¡Construye el modelo 3D y lee las historias de castellanos, caballeros y damas en el folleto! Con un modelo de gran tamaño en cartón resistente que reproduce un castillo medieval hasta el más mínimo detalle.</h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/a bañarse leon.png" class="w-100" alt="a bañarse">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> El León Y Los Sonidos Sumergible - Equipo Editorial Guadal </h5>
    <h4>$2.990</h4>
    <h3>Titulo del libro</h3> <h6> El León Y Los Sonidos Sumergible </h6>
    <h3>Autor</h3> <h6> Equipo Editorial Guadal </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Infantil </h6>
    <h3>Editorial</h3> <h6> El gato de hojalata </h6>
    <h3>Año de publicacion</h3> <h6> 2022 </h6>
     <h3>Tapa del libro</h3> <h6> Plastico </h6>
    <h3>Edad recomendada</h3> <h6> 0 </h6>
    <h3>Codigo universal de producto</h3> <h6> 09789877976830 </h6>
    <h3>Descripcion</h3> <h6> Libro de baño con función de guante para que la hora de bañarse sea más divertida. Descubre los sonidos junto al león y sus amigos.</h6>
  </div>
</div>
</div>

<div class="magen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/abrazos de lana.png" class="w-100" alt="abrazos de lana">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Libro Infantil Abrazos de lana Con Títere - Equipo Editorial Guadal </h5>
    <h4>2.499</h4>
    <h3>Titulo del libro</h3> <h6> Abrazos De Lana Con Títere De Dedo  </h6>
    <h3>Autor</h3> <h6> Equipo Editorial Guadal </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> Infantil <h6> </h6>
    <h3>Editorial</h3> <h6> El gato de hojalata </h6>
    <h3>Año de publicacion</h3> <h6> 2022 </h6>
     <h3>Tapa del libro</h3> <h6> Tapa dura </h6>
    <h3>Edad recomendada</h3> <h6> 1 años </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789877977301 </h6>
    <h3>Descripcion</h3> <h6> "Uma hace muchas travesuras con sus patas de tela, pero también da muchos abrazos. Un libro para interactuar con los niños y crear hermosos momentos en familia." </h6>
  </div>
</div>
</div>


  <div class="row align-items-end">
    <div class="collogo">
        
    </div>
  </div>