<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  

</head>

  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">RunaPacha</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">RunaPacha - Libreria Virtual</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="/Concursos" href="/Concurso"> Concursos</a>
            </li>
            <li class="nav-item">
              <a class="/NuestraHistoria" href="/NuestraHistoria">Nuestra
                histora</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Catalogo de libros
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/Novedades">Novedades</a></li>
                <li><a class="dropdown-item" href="/Novela">Novela</a></li>
                <li><a class="dropdown-item" href="/Ensayo">Ensayo</a></li>
                <li><a class="dropdown-item" href="/Naturaleza">Naturaleza</a></li>
                <li><a class="dropdown-item" href="/Psicologia">Psicologia</a></li>
                <li><a class="dropdown-item" href="/Infantiles">Infantiles</a></li>
                <li><a class="dropdown-item" href="/Filosofia">Filosofia</a></li>
                <li><a class="dropdown-item" href="/Poesia">Poesia</a></li>
                <li><a class="dropdown-item" href="/Autoayuda">Autoayuda</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="container text-center" class="/SolicitaAsesoria" href="/SolicitaAsesoria">Solicita
                    Asesoria</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  {{{body}}}
  <body>

  <footer class="text-center"> Libreria RunaPacha - GBA Banfield Zona Sur, envios a todo el pais. CUIT
    XX-XXXXXXXX-X</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>