<link rel="stylesheet" href="/stylesheets/libros.css">

<div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
  <p> Naturaleza - RunaPacha </p>
</div>

<div class="botonaventurate">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    ¡Que me encuentre un Libro!
  </button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> ¡Felicidades, conseguiste un 20% de descuento! </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2> Este descuento es valido por una semana y es por el libro "Asi hablo Zaratustra" de Friedrich Nietzche. </h2>
          <h2> Puedes ir directo a hablar con uno de nuestros asesores mediante nuestro formulario en <a href="/SolicitaAsesoria"> Solicita Asesoria </a> </h2>
          <h2> ¡Tambien podes contactarnos por nuestras redes sociales!</h2>
          <h2> Este libro te estaba esperando 😊 </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hasta la proxima semana </button>
          <button type="button" class="btn btn-primary"> Bon voyage! </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/Novedades">Novedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Novela"> Novela </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Ensayo"> Ensayo </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Naturaleza"> Naturaleza </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Psicologia"> Psicologia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Infantiles"> Infantiles </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Filosofia"> Filosofia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Autoayuda">Autoayuda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Poesia">Poesia</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/SolicitaAsesoria">Solicita Asesoria</a>
  </li>
</ul>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/picaflores argentina.png" class="w-100" alt="picaflores argentina">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Picaflores en Argentina y Sudamérica - Hernán Povedano ; Gabriel Maugeri </h5>
    <h4>$6.500 </h4>
    <h3>Titulo del libro</h3> <h6> 	Picaflores en Argentina y Sudamérica </h6>
    <h3>Autor</h3> <h6> Hernán Povedano ; Gabriel Maugeri </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Ciencias naturales y médicas </h6>
    <h3>Editorial</h3> <h6> 	Hernan Povedano </h6>
    <h3>Año de publicacion</h3> <h6> 2020 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789878644806 </h6>
    <h3>Descripcion</h3> <h6> “La obra más completa sobre picaflores en español. Pensada para todos aquellos que se fascinan con estas maravillosas aves y quieren descubrir mas de su mundo. Presenta información actualizada sobre lo las historia natural de la familia trochilidae, resultado de la revisión de mas de 450 publicaciones científicas y datos de los autores, disponible aquí de manera amena y en lenguaje accesible. Todo ilustrado con excepcionales fotografías de los mas prestigiosos fotógrafos latinoamericanos. Además presenta fichas completas con identificación, hábitos, reproducción y mapas de distribución de 52 especies de picaflores, todos los que habitan en Argentina, Uruguay, SE de Brasil, Paraguay y Chile. ” </h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/mariposas bona.png" class="w-100" alt="mariposas bona">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Mariposas Bonaerenses. Edición Bilingue - Raul Canals </h5>
    <h4>$2.500</h4>
    <h3>Titulo del libro</h3> <h6>Mariposas Bonaerenses </h6>
    <h3>Autor</h3> <h6> Raul Canals </h6>
    <h3>Idioma:</h3> <h6> Español-Ingles </h6>
     <h3>Genero del libro</h3> <h6> Ciencias naturales y médicas </h6>
    <h3>Editorial</h3> <h6> L.O.L.A </h6>
    <h3>Año de publicacion</h3> <h6> 2000 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 09788461716098 </h6>
    <h3>Descripcion</h3> <h6> Bellísima edición integramente sobre papel satinado. Magnificamente ilustrado con numerosísimas láminas color plena página. Cuidada edición de alta calidad gráfica y tipográfica. El hecho que Argentina carezca de material bibliográfico que permita identificar con facilidad a las distintas especies de mariposas, ha generado que la mayoría de los aficionados al tema, se conviertan en meros coleccionistas. Recorren distitnos ambientes naturales capturando y sacrificando de inmediato a estas desdichadas criaturas. La posterior determinación taxonómica de sus presas, muchas veces es errónea, debido a la escasez de obras actualizadas, en particular en lo referente a las familias Riodinidae y Lycaenidae. El objetivo de esta guía ilustrada de campo, es el de servir como elemento de consulta rápida para aficionados y entomólogos interesados en la materia.</h6>
  </div>
</div>
</div>

<div class="magen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/aves de argentina audiornis.png" class="w-100" alt="aves de arg">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Guía Audiornis De Las Aves De Argentina - BERNABE LOPEZ LANUS </h5>
    <h4>$12.850</h4>
    <h3>Titulo del libro</h3> <h6> Vigilar Y Castigar: Nacimiento De La Prisión  </h6>
    <h3>Autor</h3> <h6> BERNABE LOPEZ LANUS </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> Ciencias naturales y médicas <h6> </h6>
    <h3>Editorial</h3> <h6> Audiornis </h6>
    <h3>Año de publicacion</h3> <h6> 2020 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 09788461716098 </h6>
    <h3>Descripcion</h3> <h6> La Guía Audionis de todas las aves de Argentina es una excelente herramienta para aquellos que desean aprender más sobre la avifauna argentina. Está diseñada para ser fácilmente accesible y contiene información detallada sobre cada especie, incluyendo su distribución geográfica, hábitat, comportamiento y características físicas. Además, esta guía también ofrece una colección única de grabaciones sonoras con más de 3000 grabaciones realizadas por 72 sonidistas profesionales. Esto significa que los usuarios pueden escuchar el canto o llamado vocal de casi todas las aves argentinas en su propio hogar. La Guía Audionis también proporciona recomendaciones prácticas para observar aves en la naturaleza. Por lo tanto, si alguien quiere saber más acerca del mundo fascinante de las aves argentinas, entonces esta guía es un gran lugar para comenzar! </h6>
  </div>
</div>
</div>



  <div class="row align-items-end">
    <div class="collogo">
        
    </div>
  </div>