<link rel="stylesheet" href="/stylesheets/libros.css">

<div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
  <p> Novedades RunaPacha </p>
</div>

<div class="botonaventurate">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    춰Que me encuentre un Libro!
  </button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> 춰Felicidades, conseguiste un 20% de descuento! </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2> Este descuento es valido por una semana y es por el libro "Asi hablo Zaratustra" de Friedrich Nietzche. </h2>
          <h2> Puedes ir directo a hablar con uno de nuestros asesores mediante nuestro formulario en <a href="/SolicitaAsesoria"> Solicita Asesoria </a> </h2>
          <h2> 춰Tambien podes contactarnos por nuestras redes sociales!</h2>
          <h2> Este libro te estaba esperando 游땕 </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hasta la proxima semana </button>
          <button type="button" class="btn btn-primary"> Bon voyage! </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/Novedades">Novedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Novela"> Novela </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Ensayo"> Ensayo </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Naturaleza"> Naturaleza </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Psicologia"> Psicologia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Infantiles"> Infantiles </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Filosofia"> Filosofia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Autoayuda">Autoayuda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Poesia">Poesia</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/SolicitaAsesoria">Solicita Asesoria</a>
  </li>
</ul>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/curiosidades tapa.png" class="w-100" alt="curiosidades lacombe">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Curiosidades - Benjamin Lacombe </h5>
    <h4>$8.280</h4>
    <h3>Titulo del libro</h3> <h6> Curiosidades </h6>
    <h3>Autor</h3> <h6> Benjamin Lacombe</h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> <h6> Infantiles </h6>
    <h3>Editorial</h3> <h6> Edelvives </h6>
    <h3>A침o de publicacion</h3> <h6> 2018 </h6>
     <h3>Tapa del libro</h3> <h6> Dura </h6>
    <h3>Edad recomendada</h3> <h6> 14 a침os </h6>
    <h3>Codigo universal de producto</h3> <h6> 9788414012857 </h6>
    <h3>Descripcion</h3> <h6> "Este libro nos abre las puertas al estudio art칤stico y al universo creativo del internacionalmente reconocido autor e ilustrador franc칠s Benjamin Lacombe.
       Su extensa obra ha sido publicada en numerosos idiomas y sus ilustraciones han protagonizado exposiciones en diferentes pa칤ses. 
       El autor nos revela en estas p치ginas, mediante textos, ilustraciones, bocetos y fotograf칤as, su manera de abordar y desarrollar los proyectos, sus intereses y pasiones, sus fuentes de inspiraci칩n en un personal y fascinante recorrido por su extensa trayectoria profesional."</h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/elevacion.png" class="w-100" alt="king elevaciones">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Elevacion - Stephen King </h5>
    <h4>$3.899</h4>
    <h3>Titulo del libro</h3> <h6> Elevacion </h6>
    <h3>Autor</h3> <h6> Stephen King </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> <h6> Novela </h6>
    <h3>Editorial</h3> <h6> Plaza y Janes </h6>
    <h3>A침o de publicacion</h3> <h6> 2020 </h6>
     <h3>Tapa del libro</h3> <h6> Rustica </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789877391442 </h6>
    <h3>Descripcion</h3> <h6> "El cuerpo de Scott Carey sufre un extra침o fen칩meno: pierde peso sin parar pero no se vuelve m치s delgado; su b치scula le dice que cada d칤a es un poco m치s ligero, sin importar si lleva o no ropa o cu치n pesada sea esta. Castle Rock es una ciudad peque침a en la que las noticias vuelan y Scott no quiere ser sometido a pruebas y experimentos, as칤 que solo conf칤a su secreto a su amigo el doctor Ellis. Sin embargo, el misterio de su ins칩lita enfermedad causar치 efectos inesperados en la convivencia de la peque침a ciudad y sacar치 a la luz lo mejor de la gente que lo rodea. King vuelve a Castle Rock con un mensaje para nuestros tiempos. Elevaci칩n es una historia fascinante y conmovedora y un ant칤doto contra nuestra cultura individualista"</h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/este dolor no es mio.png" class="w-100" alt="este dolor no es mio libro">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Este dolor no es mio - Mark Wolynn </h5>
    <h4>$4.900</h4>
    <h3>Titulo del libro</h3> <h6> Este dolor no es m칤o: Identifica y resuelve los traumas familiares heredados  </h6>
    <h3>Autor</h3> <h6> Mark Wolynn </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> <h6> Autoayuda </h6>
    <h3>Editorial</h3> <h6> Gaia Ediciones </h6>
    <h3>A침o de publicacion</h3> <h6> 2016 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9788484456810 </h6>
    <h3>Descripcion</h3> <h6> Este dolor no es m칤o explica c칩mo nuestra historia familiar, puede ser la fuente de nuestros problemas emocionales o mentales. 쯅os sent칤amos inc칩modos cuando 칤bamos a ver a los abuelos u otros parientes? O tal vez ten칤amos una relaci칩n tensa con nuestros padres. Los traumas ocultos de nuestra familia son probablemente los culpables.

Los eventos traum치ticos pueden tener un impacto en c칩mo nos sentimos y nos comportamos, y cuando son graves, pueden seguir afectandonos a침os despu칠s. Los traumas, como los genes, pueden transmitirse de generaci칩n en generaci칩n si no se resuelven. En este libro descubriremos c칩mo se transmite el trauma de generaci칩n en generaci칩n y qu칠 podemos hacer para romper el ciclo. Si tenemos problemas de depresi칩n, ansiedad o fobias este libro puede resultarnos 칰til. </h6>
  </div>
</div>
</div>



  <div class="row align-items-end">
    <div class="collogo">
        
    </div>
  </div>
