<link rel="stylesheet" href="/stylesheets/libros.css">

<div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
  <p> Novela - RunaPacha </p>
</div>

<div class="botonaventurate">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    춰Que me encuentre un Libro!
  </button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> 춰Felicidades, conseguiste un 20% de descuento! </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2> Este descuento es valido por una semana y es por el libro "Asi hablo Zaratustra" de Friedrich Nietzche. </h2>
          <h2> Puedes ir directo a hablar con uno de nuestros asesores mediante nuestro formulario en <a href="/SolicitaAsesoria"> Solicita Asesoria </a> </h2>
          <h2> 춰Tambien podes contactarnos por nuestras redes sociales!</h2>
          <h2> Este libro te estaba esperando 游땕 </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hasta la proxima semana </button>
          <button type="button" class="btn btn-primary"> Bon voyage! </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/Novedades">Novedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Novela"> Novela </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Ensayo"> Ensayo </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Naturaleza"> Naturaleza </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Psicologia"> Psicologia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Infantiles"> Infantiles </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Filosofia"> Filosofia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Autoayuda">Autoayuda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Poesia">Poesia</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/SolicitaAsesoria">Solicita Asesoria</a>
  </li>
</ul>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/soledad de los numeros.png" class="w-100" alt="soledad numeros primos">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> La soledad de los numeros primos - Paolo Giordano </h5>
    <h4>$3.499</h4>
    <h3>Titulo del libro</h3> <h6> La soledad de los numeros primos </h6>
    <h3>Autor</h3> <h6>Paolo Giordano </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> <h6> Novela - Narrativa </h6>
    <h3>Editorial</h3> <h6> Salamadra </h6>
    <h3>A침o de publicacion</h3> <h6> 2019 </h6>
     <h3>Tapa del libro</h3> <h6> Rustica </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9788498383454 </h6>
    <h3>Descripcion</h3> <h6> Entre los n칰meros primos hay algunos a칰n m치s especiales. Son aquellos que los matem치ticos llaman primos gemelos, pues, aunque permanecen pr칩ximos, entre ellos se interpone siempre un n칰mero par. Esta verdad matem치tica es la hermosa met치fora que el autor ha escogido para narrar la historia de Alice y Mattia, dos personas cuyas vidas han quedado condicionadas por las consecuencias de sendos episodios ocurridos en su ni침ez. Pese a la fuerte atracci칩n que los une, la vida erigir치 entre ellos barreras invisibles que pondr치n a prueba la solidez de su relaci칩n. La sutileza de los rasgos psicol칩gicos de los personajes, as칤 como la hondura y complejidad de una historia que suscita en los lectores las reacciones m치s variadas, resaltan la admirable madurez literaria de este joven autor a la hora de asomarse, nada m치s y nada menos, a la esencia de la soledad.</h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/pilares de la tierra 1.png" class="w-100" alt="pilares de la tierra">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Los pilares de la tierra (tomo 1) - Ken Follett </h5>
    <h4>$10.399 </h4>
    <h3>Titulo del libro</h3> <h6> Los pilares de la tierra (tomo 1) </h6>
    <h3>Autor</h3> <h6> Ken Follett </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> <h6> Narrativa - Historica </h6>
    <h3>Editorial</h3> <h6> Plaza y Janes Editores </h6>
    <h3>A침o de publicacion</h3> <h6> 2020 </h6>
     <h3>Tapa del libro</h3> <h6> Rustico </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789506445430 </h6>
    <h3>Descripcion</h3> <h6> El amor y la muerte se entrecruzan vibrantemente en este magistral tapiz cuyo centro es la construcci칩n de una catedral g칩tica. La historia se inicia con el ahorcamiento p칰blico de un inocente y finaliza con la humillaci칩n de un rey.</h6>
    <h6> Los pilares de la Tierra es la obra maestra de Ken Follett y constituye una excepcional evocaci칩n de una 칠poca de violentas pasiones. Esta edici칩n especial incluye un ap칠ndice que, adem치s de divulgar c칩mo se constru칤an las catedrales medievales, devela los referentes hist칩ricos usados por Ken Follett para documentar su m칤tica novela. </h6>
      </div>
</div>
</div>

<div class="magen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/oto침o del patriarca.png" class="w-100" alt="oto침o del patriarca">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> El Oto침o Del Patriarca - Gabriel Garc칤a M치rquez </h5>
    <h4>$3.799</h4>
    <h3>Titulo del libro</h3> <h6> El Oto침o Del Patriarca </h6>
    <h3>Autor</h3> <h6> Gabriel Garc칤a M치rquez </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> Narrativa contemporanea <h6> </h6>
    <h3>Editorial</h3> <h6> Debolsillo </h6>
    <h3>A침o de publicacion</h3> <h6> 2003 </h6>
     <h3>Tapa del libro</h3> <h6> Rustica </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789871138111 </h6>
    <h3>Descripcion</h3> <h6> Gabriel Garc칤a M치rquez declar칩 una y otra vez que El oto침o del patriarca es la novela en la que m치s trabajo y esfuerzo invirti칩. </h6>
        <h6> . En efecto, Garc칤a M치rquez ha construido una maquinaria narrativa perfecta que desgrana una historia universal -la agon칤a y muerte de un dictador- de forma c칤clica, experimental y real al mismo tiempo, en seis bloques narrativos sin di치logo, sin puntos y aparte, repitiendo una an칠cdota siempre igual y siempre distinta, acumulando hechos y descripciones deslumbrantes. Novela escrita en Barcelona entre 1968 y 1975, El oto침o del patriarca deja asomar en su trasfondo el acontecimiento m치s importante de la historia espa침ola de aquellos a침os -la muerte del general Franco- aunque su contexto y estilo sean, como siempre en este escritor, el de la asombrosa realidad latinoamericana que Garc칤a M치rquez ha elevado una vez m치s a la dignidad de mito.</h6>  
  </div>
</div>
</div>



  <div class="row align-items-end">
    <div class="collogo">
        
    </div>
  </div>