<link rel="stylesheet" href="/stylesheets/paginas RP no principales .css">

    <div class="container text-center">
        <div class="col"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
        </div>

    <div class="container overflow-hidden text-center"> 
        <div class="row gx-5">
            <div class="col">
                <div class=" p-3 border bg-light">
                    <h2> Una historia </h2>
                    <p> Esta "ave" tomo vuelo en el 2016, aunque su fundador, Daniel, lleva metido en el mundo de los
                        libros desde larga data.
                        Pensamos, que quizas seria mas interesante comenzar por ahi para contar estos inicios.
                        Trabajando en distintas revistas como cadete, continuo ese recorrido hasta llegar a editoriales
                        y escalar, convirtiendose en
                        representante de las mismas.</p>
                        <p>
                        Cuenta su madre, que de joven a este avido lector, tenian que esconderle los libros porque se quedaba absorto con ellos.</p>
                        <p>
                        Cuentan los arboles hechos papel, que escribio un libro llamado "Poemas para Todos", y que fue
                        un buen trato para su destino. </p>
                        <p> Daniel le leyo uno de sus poemas en su primera cita a su futura esposa, Marta, y con los años, aca estan y
                        aca estamos sus hijos, tambien hijos
                        de la vida.</p>
                        <p> 
                        Siempre leyendo, con mirada amable y critica, capaz de brindar un servicio atento en 2020 cumplio un sueño;
                        abrir RunaPacha una tienda fisica en el barrio que ama, Banfield. A mitad del 2022 cerro, pero los proyectos no perecen de la noche a la mañana. </p> 
                    <p> Ahora se realizan concursos de manera Online, abiertos al publico para toda Argentina y enfocados a distintas edades. </p>
                    <p> Con la misma asesoria afectuosa y aplicada que nos caracteriza de manera virtual mediante nuestras redes y sitio web. </p>
                    <p> Hoy somos una familia mas grande cada vez. ¡Y te invitamos a ser parte de ella!</p>
               
                </div>
                <h3> Gracias </h3>
                <div class="columna">
                        <img src="/images/IMAGEN CV/prueba dibujo para la pagina.png" alt="dibujo">
                        <figure>
                            <blockquote class="blockquote">
                              <h4> “En suma, desde pequeño, mi relación con las palabras, con la escritura, no se diferencia de mi relación con el mundo en general."</h4>
                            </blockquote>
                             <h5> Julio Cortázar (1914-1984) </h5>
                             <h4> <cite title="Source Title"> Vecino de Banfield y gran inspiracion de Daniel.</cite> </h4>
                          </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>