<link rel="stylesheet" href="/stylesheets/libros.css">

<div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
  <p> Poesia - RunaPacha </p>
</div>

<div class="botonaventurate">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    춰Que me encuentre un Libro!
  </button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> 춰Felicidades, conseguiste un 20% de descuento! </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2> Este descuento es valido por una semana y es por el libro "Asi hablo Zaratustra" de Friedrich Nietzche. </h2>
          <h2> Puedes ir directo a hablar con uno de nuestros asesores mediante nuestro formulario en <a href="/SolicitaAsesoria"> Solicita Asesoria </a> </h2>
          <h2> 춰Tambien podes contactarnos por nuestras redes sociales!</h2>
          <h2> Este libro te estaba esperando 游땕 </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hasta la proxima semana </button>
          <button type="button" class="btn btn-primary"> Bon voyage! </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/Novedades">Novedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Novela"> Novela </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Ensayo"> Ensayo </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Naturaleza"> Naturaleza </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Psicologia"> Psicologia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Infantiles"> Infantiles </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Filosofia"> Filosofia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Autoayuda">Autoayuda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Poesia">Poesia</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/SolicitaAsesoria">Solicita Asesoria</a>
  </li>
</ul>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/poesia-completa.png" class="w-100" alt="pizarnik poesia">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Poesia Completa - Pizarnik Alejandra </h5>
    <h4>$6.499</h4>
    <h3>Titulo del libro</h3> <h6> Poesia Completa  </h6>
    <h3>Autor</h3> <h6> Pizarnik Alejandra </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> <h6> Poesia </h6>
    <h3>Editorial</h3> <h6> Lumen </h6>
    <h3>A침o de publicacion</h3> <h6> 2019 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 09788426481023 </h6>
    <h3>Descripcion</h3> <h6> "Alejandra Pizarnik es una figura de culto de las letras hispanas y una autora que se intern칩 por infiernos raramente visitados por la literatura espa침ola. Su poes칤a se caracteriza por un hondo intimismo y una severa sensualidad o, en palabras de Octavio Paz, la obra de Pizarnik lleva a cabo una 춺cristalizaci칩n verbal por amalgama de insomnio pasional y lucidez meridiana en una disoluci칩n de realidad sometida a las m치s altas temperaturas췉.</h6>
<h6>Esta edici칩n, a cargo de Ana Becciu, incluye los libros de poemas editados en vida de la autora y los poemas in칠ditos compilados a partir de manuscritos."</h6>
  
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/obra poesia girondo.png" class="w-100" alt="girondo">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Obra: Poesia Y Prosa - Oliveiro Girondo </h5>
    <h4>$5.200</h4>
    <h3>Titulo del libro</h3> <h6> Obra: Poesia Y Prosa </h6>
    <h3>Autor</h3> <h6> Oliveiro Girondo </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> <h6> Poesia </h6>
    <h3>Editorial</h3> <h6> Losada </h6>
    <h3>A침o de publicacion</h3> <h6> 2013 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 09789500353489 </h6>
    <h3>Descripcion</h3> <h6> Cuando muchos compa침eros de vanguardia, m치s j칩venes que 칠l, ya estaban fijados en poses hist칩ricas, Girondo no renegaba de su responsabilidad m치s alta, que era con el lenguaje, es decir, con la poes칤a. Esta edici칩n de las obras incluye todos los vol칰menes aparecidos hasta 1968 -en textos revisados seg칰n la primera edici칩n y con las correcciones manuscritas del autor-, algunas colaboraciones publicadas s칩lo en peri칩dicos (como los c칠lebres membretes) y aquellos in칠ditos que el autor hab칤a alcanzado a corregir. Un pr칩logo de Enrique Molina, una cronolog칤a y abundantes ilustraciones tomadas de las primeras ediciones la completan.</h6>
  </div>
</div>
</div>

<div class="magen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/libro de los abrazos.png" class="w-100" alt="libro de los abrazos">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Libro De Los Abrazos, El - Eduardo Galeano </h5>
    <h4>$4.690</h4>
    <h3>Titulo del libro</h3> <h6> El Libro De Los Abrazos  </h6>
    <h3>Autor</h3> <h6> Eduardo Galeano </h6>
    <h3>Idioma:</h3> <h6> Espa침ol </h6>
     <h3>Genero del libro</h3> Poesia <h6> </h6>
    <h3>Editorial</h3> <h6> Siglo XXI </h6>
    <h3>A침o de publicacion</h3> <h6> 2015 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 09789876295093 </h6>
    <h3>Descripcion</h3> <h6> El libro de los abrazos es una s칤ntesis perfecta del imaginario m치s inspirado de su autor. Celebraciones, sucedidos, profec칤as, cr칩nicas, sue침os, memorias y desmemorias, deliciosos y extraordinarios relatos breves en los que hasta las paredes hablan. </h6>
    <h6>Un libro ilustrado por partida doble: a la mirada luminosa de Galeano se suman sus grabados y dibujos.</h6>
    <h6>"Los grandes escritores caminan en la cuerda del equilibrista y arriesgan el cuello con cada palabra. En Memoria del fuego, Galeano fue un acr칩bata triunfante. En El libro de los abrazos, se desprende de la cuerda y levita."
        Alan Ryan, The Washington Post, USA.</h6>
    <h6>"Lea una historia por d칤a y ser치 usted feliz la mitad del a침o. Lea una historia por d칤a y ser치 usted triste la otra mitad. Cada p치gina es tan hermosa como el libro."
          Koos Hageraats, HP/De Tijd, Holanda.</h6>
</div>
</div>
</div>



  <div class="row align-items-end">
    <div class="collogo">
        
    </div>
  </div>