<link rel="stylesheet" href="/stylesheets/libros.css">

<div class="container text-center">
  <div class="collogo"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
  </div>
  <div class="col-1"></div>
  <p> Psicologia - RunaPacha </p>
</div>

<div class="botonaventurate">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    ¡Que me encuentre un Libro!
  </button>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel"> ¡Felicidades, conseguiste un 20% de descuento! </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2> Este descuento es valido por una semana y es por el libro "Asi hablo Zaratustra" de Friedrich Nietzche. </h2>
          <h2> Puedes ir directo a hablar con uno de nuestros asesores mediante nuestro formulario en <a href="/SolicitaAsesoria"> Solicita Asesoria </a> </h2>
          <h2> ¡Tambien podes contactarnos por nuestras redes sociales!</h2>
          <h2> Este libro te estaba esperando 😊 </h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Hasta la proxima semana </button>
          <button type="button" class="btn btn-primary"> Bon voyage! </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row align-items-center">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/Novedades">Novedades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Novela"> Novela </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Ensayo"> Ensayo </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Naturaleza"> Naturaleza </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Psicologia"> Psicologia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Infantiles"> Infantiles </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Filosofia"> Filosofia </a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/Autoayuda">Autoayuda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Poesia">Poesia</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/SolicitaAsesoria">Solicita Asesoria</a>
  </li>
</ul>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/La-intimidad-en-la-clinica.png" class="w-100" alt="la imtimidad de la clinica">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> La intimidad de la clínica con niños, niñas y adolescentes. </h5>
    <h4>2.500</h4>
    <h3>Titulo del libro</h3> <h6> La intimidad de la clínica con niños, niñas y adolescentes </h6>
    <h3>Autor</h3> <h6> CECILIA GUATRI, CLAUDIA LEVIN, ELISA PEDERSEN, GABRIELA MONTERO, GRISELDA SPLÍVALO, MARCELA ROTSZTEIN, MÓNICA RODRÍGUEZ </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Ensayo - Psicologia </h6>
    <h3>Editorial</h3> <h6> Editoria Maipue </h6>
    <h3>Año de publicacion</h3> <h6> 2021 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789878461687 </h6>
    <h3>Descripcion</h3> <h6> Este libro es un producto del colectivo Integrantes de la Cátedra de Clínica de Niños y Adolescentes de la Facultad de Psicología de la Universidad de Buenos Aires (2021) y al mismo tiempo da cuenta de la singularidad de cada encuentro: único, inédito, entre un psicoanalista y su clínica. Los niños, niñas, adolescentes y familiares que iluminan la articulación teórico-clínica provienen tanto del ámbito público como privado y representan un amplio espectro de los diferentes trabajos de un psicoanalista. </h6>
  </div>
</div>
</div>

<div class="margen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/Diagnostico-del-abuso-sexual.png" class="w-100" alt="diagnostico del abuso sexual">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> Diagnóstico del abuso sexual en niñas y niños menores de 5 años - MARÍA CECILIA LÓPEZ </h5>
    <h4>$3.500</h4>
    <h3>Titulo del libro</h3> <h6> Diagnóstico del abuso sexual en niñas y niños menores de 5 años </h6>
    <h3>Autor</h3> <h6> MARÍA CECILIA LÓPEZ </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> <h6> Ensayo - Psicologia </h6>
    <h3>Editorial</h3> <h6> Editoria Maipue </h6>
    <h3>Año de publicacion</h3> <h6> 2020 </h6>
     <h3>Tapa del libro</h3> <h6> Blanda </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 	9789878461199 </h6>
    <h3>Descripcion</h3> <h6> Propone una técnica basada en 14 criterios de evaluación, la cual se sustenta en la psicología clásica, así como en la propuesta de una serie de técnicas innovadoras. </h6>
  </div>
</div>
</div>

<div class="magen">
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="/images/IMAGENES PORTADAS LIBROS/arte de amar.png" class="w-100" alt="arte de amar">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0"> El arte de amar - Erich Fromm </h5>
    <h4>$4.300</h4>
    <h3>Titulo del libro</h3> <h6> El arte de amar  </h6>
    <h3>Autor</h3> <h6> Erich Fromm  </h6>
    <h3>Idioma:</h3> <h6> Español </h6>
     <h3>Genero del libro</h3> Ensayo - Psicologia <h6> </h6>
    <h3>Editorial</h3> <h6> Paidos </h6>
    <h3>Año de publicacion</h3> <h6> 2007 </h6>
     <h3>Tapa del libro</h3> <h6> Rustica </h6>
    <h3>Edad recomendada</h3> <h6> - </h6>
    <h3>Codigo universal de producto</h3> <h6> 9789501244519 </h6>
    <h3>Descripcion</h3> <h6> «El amor intenta entender, convencer, vivificar. Por este motivo, el que ama se transforma constantemente. Capta más, observa más, es más productivo, es más él mismo.» El arte de amar es uno de los títulos clave en la bibliografía de Erich Fromm. En él, el filósofo alemán no pretende un manual ni una guía. Fromm considera el amor no como una sensación placentera de autosatisfacción sino como un arte hacia los demás que requiere un conocimiento y un esfuerzo. ¿Qué significa amar? ¿Cómo desprendernos de nosotros mismos para experimentar este sentimiento…? Fromm nos explica que el amor no es sólo una relación personal, sino un rasgo de madurez que se manifiesta en diversas formas: amor erótico, amor fraternal, amor filial, amor a uno mismo… Nos dice también que el amor no es algo pasajero y mecánico, como a veces nos induce a creer la sociedad de hoy. Muy al contrario, el amor es el fruto de un aprendizaje. Por ello, si queremos aprender a amar debemos actuar como lo haríamos si quisiéramos aprender cualquier otro arte. </h6>
  </div>
</div>
</div>



  <div class="row align-items-end">
    <div class="collogo">
        
    </div>
  </div>