<link rel="stylesheet" href="/stylesheets/asesoria.css">

   <div class="container text-center">
        <div class="col"> <img src="/images/Logos/logo redondopara pagina.png" alt="logo RunaPacha">
        </div>
        <div class="col-1"> </div>
        <h2> Contactanos </h2>

        <div class=" col-md-4 mt-4 mt-sm-0">

        </div>
        <form class="row g-3-mover" action="/SolicitaAsesoria" method="post">
            <div class="row g-3">
                <div= class=" col-md-6">
                    <label for="nombre" class="form-label"> Nombre </label>
                    <input type="text" class="form-control" id="Nombre" name="Nombre">
                    <div class=" col-md-12">
                        <label for="Apellido" class="form-label"> Apellido </label>
                        <input type="text" class="form-control" id="Apellido" name="Apellido">
                    </div>
                    <div class="col-12">
                        <label for="Email" class="form-label"> Email </label>
                        <input type="text" class="form-control" id="Email" placeholder=" email@email.com" name="Email">
                    </div>
                    <div class="col-12">
                        <label for="tel" class="form-label"> Celular </label>
                        <input type="text" class="form-control" id="tel" placeholder=" (+54 9) XXXX-XXXX " name="tel">
                    </div>
                    <div class=" col-md-12">
                        <label for="mensaje" class="form-label"> Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="5" name="mensaje"></textarea>
                    </div>
                    <div class="col-12-mover">
                        <button type="submit" class="btn btn-primary"> Enviar!</button>
                    </div>
            </div>
        </form>
        <p> {{message}}</p>
    </div>
<div class="container">
    <div class="col-1-a"> </div>
    <h4> Podes encontrarnos en nuestras Redes sociales tambien! </h4>
</div>
  